<form class="ui stacked segment form" action="/basket/{{basket.id}}/addproduct" method="POST">
  <div class="four fields">
    <div class="field">
      <label for="name">Name</label>
      <input placeholder="Name" type="text" name="name" autofocus required>
    </div>
    <div class="field">
      <label for="location">Where is the next sale</label>
      <input placeholder="Location" type="text" name="location" required>
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input placeholder="Email" type="email" name="email" required>
    </div>
    <div class="field">
      <label for="phone">Phone</label>
      <input placeholder="Phone" type="tel" name="phone" required>
    </div>
  </div>
  <button class="ui blue submit button">Add Supplier to Product</button>
</form>