<form class="ui stacked segment form" action="/basket/{{basket.id}}/addbasket" method="POST">
  <div class="four fields">
    <div class="field">
      <label for="name">name</label>
      <input placeholder="name" type="text" name="name" autofocus required>
    </div>
    <div class="field">
      <label for="description">description</label>
      <input placeholder="description" type="text" name="description" required>
    </div>
    <div class="field">
      <label for="price">price</label>
      <input placeholder="price" type="text" name="price" required>
    </div>
    <div class="field">
      <label for="category">category</label>
      <input placeholder="category" type="text" name="category" required>
    </div>
    
    <div class="field">
      <label for="quantity">quantity</label>
      <input placeholder="quantity" type="text" name="quantity" required>
    </div>
    
  </div>
  <button class="ui blue submit button">Add Product</button>
</form>