<form class="ui stacked segment form" action="/dashboard/addbasket" method="POST">
  <div class="two fields">
    <div class="field">
      <label for ="name">Name</label>
      <input placeholder="name" type="text" name="name" autofocus required>
    </div>
    
    <div class="field">
      <label for ="location">Location</label>
      <input placeholder="location" type="text" name="location" autofocus required>
    </div>
    
    <div class="field">
      <label for ="email">email</label>
      <input placeholder="email" type="text" name="email" autofocus required>
    </div>
    
    <div class="field">
      <label for="phone">phone</label>
      <input placeholder="phone" type="text" name="phone" required>
    </div>
  </div>

  <button class="ui blue submit button">Add Supplier</button>
</form>