<form class="ui stacked segment form" action="/dashboard/addSupplier" method="POST">
  <div class="two fields">
    <div class="field">
      <label for ="name">Name</label>
      <input placeholder="name" type="text" name="name" autofocus required>
    </div>
    
    <div class="field">
      <label for ="location">Location</label>
      <input placeholder="location" type="text" name="location" autofocus required>
    </div>
    
    <div class="field">
      <label for ="price">price</label>
      <input placeholder="price" type="text" name="price" autofocus required>
    </div>
    
    <div class="field">
      <label for="image">Image</label>
      <input placeholder="image" type="text" name="image" required>
    </div>
  </div>

  <button class="ui blue submit button">Add Product</button>
</form>