{{> menu}}

<div class="ui container">
  <h2 class="ui header">Comments</h2>
  
  {{#each comments}}
  <div class="ui comments">
    <div class="comment">
      <div class="content">
        <a class="author">{{this.name}}</a>
        <div class="metadata">
          <span class="date">{{this.date}}</span>
        </div>
        <div class="text">
          {{this.message}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}

  <form class="ui form" method="post" action="/comments">
    <h4 class="ui dividing header">Add Comment</h4>
    <div class="field">
      <label>Name</label>
      <input type="text" name="name" placeholder="Name">
    </div>
    <div class="field">
      <label>Message</label>
      <textarea name="message"></textarea>
    </div>
    <button class="ui button" type="submit">Add Comment</button>
  </form>
</div>