<div class="ui comments">
  {{#each comments}}
    <div class="comment">
      <div class="content">
        <span class="author">{{name}}</span>
        <div class="text">{{comment}}</div>
      </div>
    </div>
  {{/each}}
</div>