{{#each comments}}
  <div class="comment">
    <div class="content">
      <a class="author">{{this.name}}</a>
      <div class="metadata">
        <span class="date">{{this.date}}</span>
      </div>
      <div class="text">
        {{this.text}}
      </div>
    </div>
  </div>
{{/each}}