<nav class="ui inverted menu">
  <a class="item" href="/">
    <i class="large cube icon"></i>
    Company Product Collection
  </a>
  <div class="right menu">
    <div class="item">
      <a id="dashboard" class="ui button" href="/dashboard">
        <i class="large dashboard icon"></i>
        Dashboard
      </a>
    </div>
    <div class="item">
      <a id="basket" class="ui button" href="/basket">
        <i class="large shopping cart icon"></i>
        Basket
      </a>
    </div>
    <div class="item">
      <a id="about" class="ui button" href="/about">
        <i class="large info circle icon"></i>
        About
      </a>
    </div>
  </div>
</nav>
