  <nav class="ui inverted menu">
    <a class="item" href="/">
      <i class="Shop icon"></i>
      Shoes Store
    </a>

    <div class="right menu">
      <div class="item">
        <a id="dashboard" class="ui button primary" href="/dashboard">
          <i class="large dashboard icon"></i>
          Dashboard
        </a>
      </div>
      <div class="item">
        <a id="about" class="ui button secondary" href="/about">
          <i class="large info circle icon"></i>
          About
        </a>
    
        <div class="right menu">
      <a id="login" class="item" href="/login">Login</a>
      <a id="signup" class="item" href="/signup">Signup</a>
    </div>
        
          <div class="right menu">
    <span class="name">{{fullname}}</span>
    <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
        
      </div>
    </div>
  </nav>