{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    Company Owner
  </h2>

  <div class="ui centered cards">

    {{#each developers}}
      {{> card}}
  {{/each}}

  </div>
</section>
