{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  
<section class="bestticket-section ui center aligned middle aligned segment">
  <div class="bestticket-container">
    <h2 class="bestticket-header">Garaje Sale App</h2>



<div>
  {{#each developers}}
    {{> card}}
  {{/each}}
</div>

<div>
  <div >
    <h3>Our Office is in:</h3>
  </div>
  {{> map}}
</div>
  </div> 

</section>

</section>