{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  
<section class="bestticket-section ui center aligned middle aligned segment">
  <div class="bestticket-container">
    <h2 class="bestticket-header">Garaje Sale App</h2>

<p class="bestticket-description">
  BestTicket is a company that specializes in finding the best prices for airline tickets and delivering them straight to your inbox.
  With their advanced search algorithms and extensive network of travel partners, 
  BestTicket is able to offer their customers unbeatable prices on flights to destinations all around the world. 
  Whether you're planning a business trip, a family vacation, 
  or just a quick weekend getaway, 
  BestTicket has you covered. 
  So why waste your time searching multiple websites for the best deal when you can let BestTicket do the work for you? Sign up today and start saving on your next flight!
</p>

<div class="bestticket-cards">
  {{#each developers}}
    {{> card}}
  {{/each}}
</div>

<div class="bestticket-map">
  <div class="bestticket-office">
    <h3>Our Office is in:</h3>
  </div>
  {{> map}}
</div>
  </div> 
  {{> footer}}
</section>

</section>