{{> menu }}


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Shoes Store</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #blue;
        }

        .welcome-section {
            padding: 20px;
            background-color: #fff;
            color: black;
        }

        .welcome-text {
            font-size: 24px;
        }
    </style>
</head>

<body>
    <div class="welcome-section">
        <h1>Welcome Shoes Store</h1>
        <p class="welcome-text">This website is only for employees in the company where can acces to our system (Login) and make orders that we need 
</p>
    </div>

    <!-- You can add more content and features below this section -->

</body>