{{> menu}}

<section class="welcome ui two column grid segment">
  <div class="ui column">
    <h2>Welcome to the Company Production Collection!</h2>
    <p>
      This app allows users to create and maintain a collection of products produced by our company.
    </p>
    <div class="buttons">
      <button class="ui blue button" onclick="showHide()">
        Read more <i class="arrow circle right icon"></i>
      </button>
      <button class="ui green button" onclick="alert('Thanks! You\'re okay too')">
        Like it? <i class="thumbs up icon"></i>
      </button>
      <button class="ui red button" onclick="welcomeUser()">
        Who are you? <i class="user icon"></i>
      </button>
    </div>

    <div id="readmore" class="ui message">
      <p>
        Over the coming months, we will add more functionality to this app. Users will be able to add, edit, and delete products, as well as view statistics on their performance.
      </p>
    </div>
    <div id="welcomeuser" class="ui message" onclick="hideWelcome()"></div>
  </div>
  <div class="ui column">
    <div class="ui four column grid">
      <div class="column">
        <img class="ui fluid image" src="https://picsum.photos/id/1002/300/200" alt="Random Image">
      </div>
      <div class="column">
        <img class="ui fluid image" src="https://picsum.photos/id/1003/300/200" alt="Random Image">
      </div>
      <div class="column">
        <img class="ui fluid image" src="https://picsum.photos/id/1005/300/200" alt="Random Image">
      </div>
      <div class="column">
        <img class="ui fluid image" src="https://picsum.photos/id/1011/300/200" alt="Random Image">
      </div>
    </div>
  </div>
</section>
