{{> menu}}
<section class="welcome ui two column grid segment">
  <div class="ui column">
    <h2>Welcome to the Company Production Collection!</h2>
    <p>
      This app allows users to create and maintain a collection of products produced by our company.
    </p>
    </div>
    
  <div class="ui column">
    <div class="ui two cards">
      <div class="card">
        <div class="image">
          <img src="https://picsum.photos/id/1002/300/200" alt="Random Image">
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="https://picsum.photos/id/1003/300/200" alt="Random Image">
        </div>
      </div>
    </div>
  </div>
</section>
